@charset "UTF-8";

body {
    background-color: #fff;
    color: #777;
    line-height: 1;
    margin: 0;
}

body, input {
    color: #303030;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #25383B;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 2em 0;
}

header {
    background: #1E2832 url("/static/background.png") fixed;
    color: rgba(255, 255, 255, 0.75);
    padding: 2em 0 1em 0;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: xx-large;
    margin-bottom: 0;
}

header p {
    color: #fff;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
}

div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 10px;
}

form {
    margin: 0 0 2em 0;
    text-align: center;
}

input[type="text"] {
    background-color: rgba(144, 144, 144, 0.075);
    border: 1px solid rgba(144, 144, 144, 0.25);
    border-radius: 4px;
    color: inherit;
    display: block;
    height: 3.5em;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:focus {
    border-color: #51BAA4;
    box-shadow: 0 0 0 1px #51BAA4;
}

input[type="submit"] {
    background-color: rgba(98, 191, 142, 0.47);
    border: 0;
    border-radius: 2.5em;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 2.85em;
    line-height: 2.95em;
    margin: 5px 15px;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    white-space: nowrap;
}

input[type="submit"]:hover {
    background-color: rgba(86, 241, 125, 0.47);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

html {
    background-color: #181a1b !important;
}
html, body, input, textarea, select, button {
    background-color: #181a1b;
}
html, body, input, textarea, select, button {
    border-color: #736b5e;
    color: #e8e6e3;
}
a {
    color: #3391ff;
}
table {
    border-color: #545b5e;
}
::placeholder {
    color: #b2aba1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
}
::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}
::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

/* Invert Style */
.jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}

/* Variables Style */
:root {
   --darkreader-neutral-background: #131516;
   --darkreader-neutral-text: #d8d4cf;
   --darkreader-selection-background: #004daa;
   --darkreader-selection-text: #e8e6e3;
}

/* Modified CSS */
body {
    background-color: rgb(24, 26, 27);
    color: rgb(157, 148, 136);
}
body,
input {
    color: rgb(202, 197, 190);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(202, 197, 190);
}
header {
    background-image: url("/static/background.png");
    background-color: rgb(24, 32, 40);
    color: rgba(232, 230, 227, 0.75);
}
header h1 {
    color: rgb(232, 230, 227);
}
header p {
    color: rgb(232, 230, 227);
}
div {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
    rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}
input[type="text"] {
    background-color: rgba(87, 94, 98, 0.07);
    border-color: rgba(79, 86, 89, 0.25); color: inherit; outline-color: initial; text-decoration-color: initial;
}
input[type="text"]:focus {
    border-color: rgb(50, 125, 109);
    box-shadow: rgb(56, 141, 128) 0px 0px 0px 1px;
}
input[type="submit"] {
    background-color: rgba(53, 130, 100, 0.47); border-color: initial; text-decoration-color: initial;
}
input[type="submit"]:hover {
    background-color: rgba(12, 148, 72, 0.47);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.19) 0px 3px 10px 0px;
}

/* Override Style */
.vimvixen-hint {
    background-color: #7b5300 !important;
    border-color: #d8b013 !important;
    color: #f3e8c8 !important;
}
::placeholder {
    opacity: 0.5 !important;
}

