<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Lab</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1>XSS Lab</h1>
      <p>XSS και dangling markup</p>
    </header>

    <!-- Search form -->
    <form method="GET">
      <input type="text" name="term" 
             placeholder="{{ term }}" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>
    <!-- SECRET_VALUE="{{secret_value}}" -->
    {% endautoescape %}
    <!-- Comments -->
    {% autoescape true %}
    <h3>Showing comments containing '{{ term }}':</h3>
    {% endautoescape %}

    {% autoescape false %}
    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}

  </body>
</html>
{% endautoescape %}
