<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Lab</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1>XSS Lab</h1>
      <p>DOM XSS με source=location.search και sink=document.write</p>
    </header>


    <!-- Search form -->
    <form method="GET">
      <input type="text" name="term" 
             placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    <script>
      var term = (new URLSearchParams(window.location.search)).get('term');
      if (term) {
        document.write('<h3>Showing comments containing "' + term + '":</h3>');
      } else {
        document.write('<h3>Showing all comments:</h3>');
      }
    </script>

    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}

  </body>
</html>
{% endautoescape %}
