<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Lab</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1>XSS Lab</h1>
      <p>DOM XSS με source=location.search και sink=innerHTML</p>
    </header>


    <!-- Search form -->
    <form method="GET">
      <input type="text" name="term" 
             placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    {% if term %}
    <h3>{{ results }} results for '<span id="searchTerm"></span>'</h3>
    <script>
      var term = (new URLSearchParams(window.location.search)).get('term');
      document.getElementById('searchTerm').innerHTML = term;
     </script>
    {% else %}
    {% endif %}


  </body>
</html>
{% endautoescape %}
