<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Lab</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>

    <!-- Header -->
    <header>
      <h1>XSS Lab</h1>
      <p>XSS μεσα σε JavaScript string</p>
    </header>


    <!-- Search form -->
    <form method="GET">
      <input type="text" name="term" 
             placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    <script>

      function htmlEntity(char) {
        return "&#" + char.charCodeAt(0) + ";";
      }
      function htmlEncode(data) {
        return String(data).replace(/[^\w. ]/gi, htmlEntity);
      }

      function jsUnicode(char) {
        return "\\u" + ("0000" + char.charCodeAt(0).toString(16)).slice(-4);
      }
      function jsEncode(data){
        return String(data).replace(/[^\w. ]/gi, jsUnicode);
      }

      var term = '{{ term }}';
      if (term && term != 'None') {
        document.write('<h3>Showing comments containing "' + jsEncode(htmlEncode(term)) + '":</h3>');
      } else {
        document.write('<h3>Showing all comments:</h3>');
      }
    </script>

    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}

  </body>
</html>
{% endautoescape %}
