<!DOCTYPE html>
{% autoescape false %}
<html>
  <head>
    <meta charset="utf-8">
    <title>XSS Lab</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body onload="var tracker={track(){}};tracker.track('{{ term }}');">

    <!-- Header -->
    <header>
      <h1>XSS Lab</h1>
      <p>XSS μεσα στον κωδικα JavaScript ενος tag attribute</p>
    </header>

    <!-- Search form -->
    <form method="GET">
      <input type="text" name="term" 
             placeholder="Search query" autocomplete="off" />
      <input type="submit" value="Filter comments" />
    </form>

    {% endautoescape %}
    <!-- Comments -->
    {% autoescape true %}
    <h3>Showing comments containing "{{ term }}":</h3>
    {% endautoescape %}

    {% autoescape false %}
    {% for comment in comments %}
      <div>
        <p>{{ comment }}</p>
      </div>
    {% endfor %}

  </body>
</html>
{% endautoescape %}
